@charset "utf-8";
// 包裹长文本,折行
@mixin pre() {
    white-space: pre-line;
    word-wrap: break-word;
}

//清除浮动
@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    & {
        *zoom: 1;
        /* IE6-7 触发 hasLayout */
    }
}

//显示省略号
@mixin nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


}

//绝对居中
@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

//绝对居中,兼容IE
@mixin center-com {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

//垂直居中
@mixin vertical-center(){
    display:table-cell;
    vertical-align:middle;
}
//随机边框颜色进行调试
@mixin border($border-width:1) {
    $color: green blue purple red orange #81BC03 #D35D26 #0B8383 #AE9E69 #E09A91;
    $len: length($color);
    $random: floor(random()*$len)+1;
    $border-color: nth($color, $random);
    $border-width: $border-width+px;
    border: $border-width solid $border-color;
}

//链接的混入
@mixin links ($link, $visited, $hover, $active) {
    & {
        color: $link;
        &:visited {
            color: $visited;
        }
        &:hover {
            color: $hover;
        }
        &:active,
        &:focus {
            color: $active;
        }
    }
}

//制造模糊文本
@mixin blurry-text() {
    color: transparent;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

//用CSS动画实现省略号动画
@mixin loading() {
    &:after {
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        animation: ellipsis 2s infinite;
        -webkit-animation: ellipsis 2s infinite;
        content: "\2026";
        /* ascii code for the ellipsis character */
    }
    @keyframes ellipsis {
        from {
            width: 2px;
        }
        to {
            width: 15px;
        }
    }
}

//CSS3 鲜艳的输入
@mixin inputcolor() {
    -webkit-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #ddd;
    &::focus {
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid rgba(81, 203, 238, 1);
    }
}

//背景渐变动画
@mixin button() {
    background-image: linear-gradient(#5187c4, #1c2f45);
    background-image: -webkit-linear-gradient(#5187c4, #1c2f45);
    background-size: auto 200%;
    background-position: 0 100%;
    transition: background-position 0.5s;
    &::hover {
        background-position: 0 0;
    }
}
