/* 引入字体图标库 */
@font-face {font-family: 'iconfont';
    src: url('../../fonts/iconfont.eot'); /* IE9*/
    src: url('../../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

[class^="icon-"], [class*=" icon-"]{
  font-family:"iconfont" !important;
  font-size:0.14rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-yinlee17d83:before { content: "\e6a4"; }
.icon-yonghuming:before { content: "\e617"; }
.icon-mima:before { content: "\e610"; }
.icon-querenmima:before { content: "\e66d"; }
.icon-youxiang:before { content: "\e624"; }
.icon-weixin:before { content: "\e636"; }
